@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
	box-sizing: border-box;
    --magazine-orange: #fc6520;
    --magazine-green: #78ad37;
    --magazine-pink: #f13685;
    --magazine-blue: #099db7;
}
*, *:before, *:after {
	box-sizing: inherit;
    margin: 0;
}
main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
}
h1, header>p {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}
header>p {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 25px;
}
h1 {
    margin: 0.5em 0;
    position: relative;
    text-align: center;
    text-transform: lowercase;
    font-size: 10em;
    color: var(--magazine-orange);
}
section {
    position: relative;
}
aside:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1/ 3;
}
aside:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 25em;
    margin: auto 0 0 auto;
    padding: 1em;
    border: 1px solid var(--magazine-orange);
    box-shadow: 2px 2px 7px #aaaaaa;
}
section:before {
    position: absolute;

}
img[src="model.jpg"] {
    /* Fit to box */
    height: 100%;
}
aside em,section h3 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* Only changes aside em */
    font-weight: bold;
}
/* h3 and p */
section h3,section p {
    display: inline;
}
section:nth-of-type(1) h3 {
    color: var(--magazine-green);
}
p strong {
    /* display: inline; */
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
aside>figure {
    margin: 0;
    margin-left: auto;
}
figcaption>p:first-child {
    display: none;
}
/* h2 of both aside and section elements */
aside,section>h2 {
    text-transform: lowercase;
    font-weight: 100;

}
section>h2 {
    font-size: 3em;
}
/* "on our cover" */
aside:nth-of-type(2)>h2 {
    font-size: 2.5em;
    font-weight: 100;

}
aside>figure>figcaption>p:nth-child(2), footer>p {
    font-weight: 200;
    text-transform: uppercase;
}
aside>figure>figcaption>p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    /* Will be relative to parent grid item or aside:nth-of-type(2) */
    position: absolute;
    /* Offset top 100% from relative position (main) - 10 characters */
    top: calc(100% - 10ch);
    left: -5ch;
    transform: rotate(270deg);
}
footer>p:not(em) {
    font-family: 'Roboto';
    text-align: right;
    letter-spacing: 0.05em;
}
footer>p em {
    font-family: initial;
    color: var(--magazine-orange);
}
